<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%-3level %d{HH:mm:ss.S} %c{1} - %msg%n"/>
        </Console>

        <File name="all-file" fileName="log/playground.log" immediateFlush="false" append="false">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

    </Appenders>
    <Loggers>
        <Root level="debug" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="all-file"/>
        </Root>
    </Loggers>
</Configuration>